{% include "header.html" %} 

    <!-- <!-- Page Header -->
    {% if articles['id'] == 1 %}
      <header
      class="masthead"
      style="background-image: url(../static/assets/img/health-craze.jpg)"
      >
    {% elif articles['id'] == 2 %}
      <header
        class="masthead"
        style="background-image: url(../static/assets/img/things-to-do-when-bored.jpg)"
      >
    {% elif articles['id'] == 3 %}
        <header
        class="masthead"
        style="background-image: url(../static/assets/img/internittent-fasting.jpg)"
        >
        -->
    {% endif %}

    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-heading">
            <h1>{{ articles['title'] }}</h1>
            <h2 class="subheading">{{ articles['subtitle'] }}</h2>
            <span class="meta">
                Posted by
                <a href=" {{ url_for('homepage') }}">Start Bootstrap</a>
                on August 24, 2021
            </span>
            </div>
        </div>
        </div>
    </div>
    </header>
    <!-- Post Content-->
      <article class="mb-4">
        <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
              <p>{{ articles['body'] }}</p>
            </div>
          </div>
        </div>
      </article>

      {% include "footer.html" %}
    </header>
  </header>
</header>
